<!DOCTYPE html>
<html>
  <head>
    <title>ScrabbleGame</title>
  </head>
  <body>
    <h1>Scrabble Game</h1>
    <h3>Enter a word to check how it would score in scrabble:</h3>
    <div class="container">
      #parse( $template )
    </div>

  </body>
</html>
